@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#tab-panelu543
{
	z-index: 2;
	width: 380px;
}

#u562
{
	z-index: 3;
	width: 100%;
}

#u567
{
	z-index: 4;
	width: 130px;
	min-height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u567:hover
{
	width: 130px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u567.TabbedPanelsTabSelected
{
	width: 130px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u569-4
{
	z-index: 5;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	top: 2px;
}

#u567:hover #u569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u563
{
	z-index: 9;
	width: 77px;
	min-height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 130px;
}

#u563:hover
{
	width: 77px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u563.TabbedPanelsTabSelected
{
	width: 77px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u564-4
{
	z-index: 10;
	width: 77px;
	min-height: 20px;
	margin-right: -10000px;
	top: 1px;
}

#u567.TabbedPanelsTabSelected #u569-4,#u563:hover #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u571
{
	z-index: 14;
	width: 85px;
	min-height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 208px;
}

#u571:hover
{
	width: 85px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u571.TabbedPanelsTabSelected
{
	width: 85px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u574-4
{
	z-index: 15;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	top: 1px;
}

#u563.TabbedPanelsTabSelected #u564-4,#u571:hover #u574-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u571.TabbedPanelsTabSelected #u574-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u575
{
	z-index: 19;
	width: 100%;
}

#u584
{
	z-index: 20;
	padding-bottom: 264px;
	margin-right: -10000px;
	width: 100%;
}

#u585
{
	z-index: 21;
	width: 130px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 15px;
}

#u587-6
{
	z-index: 23;
	width: 207px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 153px;
}

#u580
{
	z-index: 29;
	padding-bottom: 264px;
	margin-right: -10000px;
	width: 100%;
}

#u581
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 15px;
}

#u583-6
{
	z-index: 32;
	width: 207px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 153px;
}

#u576
{
	z-index: 38;
	padding-bottom: 264px;
	margin-right: -10000px;
	width: 100%;
}

#u577
{
	z-index: 39;
	width: 130px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 15px;
}

#u585_clip,#u581_clip,#u577_clip
{
	width: 130px;
	height: 89px;
}

#u585_img,#u581_img,#u577_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u579-6
{
	z-index: 41;
	width: 207px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 153px;
}

#page .verticalspacer
{
	clear: both;
}

