#u370
{
	border-style: solid;
	border-color: #999999;
	background-color: #CFFF6F;
	position: relative;
	border-width: 1px 0px 1px 1px;
}

#u370:hover
{
	border-style: solid;
	background-color: #64C3FF;
	border-width: 1px 0px 1px 1px;
}

#u370:active
{
	border-style: solid;
	background-color: transparent;
	border-width: 1px 0px 1px 1px;
}

#u370.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: transparent;
	border-width: 1px 0px 0px 1px;
}

#u373-4
{
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u370:hover #u373-4
{
	border-color: #999999;
}

#u370:active #u373-4
{
	border-color: #999999;
}

#u366
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #CFFF6F;
	position: relative;
}

#u366:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #64C3FF;
}

#u366:active
{
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
}

#u367-4
{
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u366:hover #u367-4
{
	border-color: #999999;
}

#u366:active #u367-4
{
	border-color: #999999;
}

#u415
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #CFFF6F;
	position: relative;
}

#u415:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #64C3FF;
}

#u415:active
{
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
}

#u366.TabbedPanelsTabSelected,#u415.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: transparent;
	border-width: 1px 1px 0px;
}

#u416-4
{
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u415:hover #u416-4
{
	border-color: #999999;
}

#u415:active #u416-4
{
	border-color: #999999;
}

#u370.TabbedPanelsTabSelected #u373-4,#u366.TabbedPanelsTabSelected #u367-4,#u415.TabbedPanelsTabSelected #u416-4
{
	border-style: none;
	border-color: transparent;
}

#accordionu638
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u644-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u644-4:hover
{
	background-color: #F2F2F2;
}

#u644-4:active
{
	background-color: #F2F2F2;
}

#u642-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u642-4:hover
{
	background-color: #F2F2F2;
}

#u642-4:active
{
	background-color: #F2F2F2;
}

#u648-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u648-4:hover
{
	background-color: #F2F2F2;
}

#u648-4:active
{
	background-color: #F2F2F2;
}

#u644-4.AccordionPanelTabOpen,#u642-4.AccordionPanelTabOpen,#u648-4.AccordionPanelTabOpen
{
	background-color: #FCEE21;
}

#u644-4.AccordionPanelTabOpen p,#u642-4.AccordionPanelTabOpen p,#u648-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u645,#u640,#u649
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u641-4,#u650-4
{
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u336,#u328,#u419
{
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 1px 1px;
}

#tab-panelu326,#u361,#u327,#u406,#u597,#u643,#u639,#u647,#u424
{
	position: relative;
}

#u406_clip,#u424_clip
{
	overflow: hidden;
}

#u408-7,#u426-7
{
	color: #999999;
	text-align: justify;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.AccordionPanelTab,.TabbedPanelsTab /* accordion */
{
	cursor: pointer;
}

