@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 128px;
	min-height: 122px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 98px 130px 350px 122px;
}

#buttonu608
{
	z-index: 2;
	width: 128px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#buttonu608:hover
{
	background-color: #545454;
	margin: 0px;
}

#buttonu608.ButtonSelected
{
	background-color: #CACACA;
	margin: 0px;
}

#u611-4
{
	z-index: 3;
	width: 95px;
	min-height: 3px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#buttonu608:hover #u611-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu608:hover #u611-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u610
{
	z-index: 7;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#buttonu608:hover #u610
{
	background-color: #FFFFFF;
	margin: 3px -10000px 0px 0px;
}

#buttonu613
{
	z-index: 8;
	width: 128px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u616
{
	z-index: 13;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#buttonu613:hover #u616
{
	background-color: #FFFFFF;
	margin: 3px -10000px 0px 0px;
}

#u615-4
{
	z-index: 9;
	width: 95px;
	min-height: 3px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#buttonu608.ButtonSelected #u611-4,#buttonu613:hover #u615-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu613:hover #u615-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu617
{
	z-index: 14;
	width: 128px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	margin-top: 9px;
	position: relative;
}

#buttonu617:hover
{
	background-color: #545454;
	margin: 9px 0px 0px;
}

#u620
{
	z-index: 19;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#buttonu617:hover #u620
{
	background-color: #FFFFFF;
	margin: 3px -10000px 0px 0px;
}

#u619-4
{
	z-index: 15;
	width: 95px;
	min-height: 3px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#buttonu613.ButtonSelected #u615-4,#buttonu617:hover #u619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu617:hover #u619-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu621
{
	z-index: 20;
	width: 128px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-top: 9px;
	position: relative;
}

#buttonu621:hover
{
	background-color: #545454;
	margin: 9px 0px 0px;
}

#u623-4
{
	z-index: 21;
	width: 95px;
	min-height: 3px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#buttonu617.ButtonSelected #u619-4,#buttonu621:hover #u623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu621:hover #u623-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u624
{
	z-index: 25;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#buttonu621:hover #u624
{
	background-color: #FFFFFF;
	margin: 3px -10000px 0px 0px;
}

#buttonu625
{
	z-index: 26;
	width: 128px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#buttonu613:hover,#buttonu625:hover
{
	background-color: #545454;
	margin: 0px -10000px 0px 0px;
}

#buttonu625.ButtonSelected
{
	background-color: #CACACA;
	margin: 0px -10000px 0px 0px;
}

#u627
{
	z-index: 31;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#buttonu625:hover #u627
{
	background-color: #FFFFFF;
	margin: 3px -10000px 0px 0px;
}

#u628-4
{
	z-index: 27;
	width: 95px;
	min-height: 3px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#buttonu621.ButtonSelected #u623-4,#buttonu625:hover #u628-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu625:hover #u628-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu629
{
	z-index: 32;
	width: 128px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 3px;
	margin-top: 9px;
	position: relative;
}

#buttonu629:hover
{
	background-color: #545454;
	margin: 9px 0px 0px;
}

#buttonu617.ButtonSelected,#buttonu621.ButtonSelected,#buttonu629.ButtonSelected
{
	background-color: #CACACA;
	margin: 9px 0px 0px;
}

#u632
{
	z-index: 37;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#buttonu629:hover #u632
{
	background-color: #FFFFFF;
	margin: 3px -10000px 0px 0px;
}

#buttonu608.ButtonSelected #u610,#buttonu613.ButtonSelected #u616,#buttonu617.ButtonSelected #u620,#buttonu621.ButtonSelected #u624,#buttonu625.ButtonSelected #u627,#buttonu629.ButtonSelected #u632
{
	background-color: #545454;
	margin: 3px -10000px 0px 0px;
}

#u631-4
{
	z-index: 33;
	width: 95px;
	min-height: 3px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29px;
}

#buttonu625.ButtonSelected #u628-4,#buttonu629:hover #u631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu629.ButtonSelected #u631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	margin: 3px -10000px 0px 0px;
}

#buttonu629:hover #u631-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu608.ButtonSelected #u611-4 p,#buttonu613.ButtonSelected #u615-4 p,#buttonu617.ButtonSelected #u619-4 p,#buttonu621.ButtonSelected #u623-4 p,#buttonu625.ButtonSelected #u628-4 p,#buttonu629.ButtonSelected #u631-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#page .verticalspacer
{
	clear: both;
}

