@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#tab-panelu437
{
	z-index: 2;
	width: 380px;
}

#u456
{
	z-index: 3;
	width: 100%;
}

#u461
{
	z-index: 4;
	width: 130px;
	min-height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u461:hover
{
	width: 130px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u461.TabbedPanelsTabSelected
{
	width: 130px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u463-4
{
	z-index: 5;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	top: 2px;
}

#u461:hover #u463-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u457
{
	z-index: 9;
	width: 77px;
	min-height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 130px;
}

#u457:hover
{
	width: 77px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u457.TabbedPanelsTabSelected
{
	width: 77px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u458-4
{
	z-index: 10;
	width: 77px;
	min-height: 20px;
	margin-right: -10000px;
	top: 1px;
}

#u461.TabbedPanelsTabSelected #u463-4,#u457:hover #u458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u465
{
	z-index: 14;
	width: 85px;
	min-height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 208px;
}

#u465:hover
{
	width: 85px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u465.TabbedPanelsTabSelected
{
	width: 85px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u468-4
{
	z-index: 15;
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	top: 1px;
}

#u457.TabbedPanelsTabSelected #u458-4,#u465:hover #u468-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u465.TabbedPanelsTabSelected #u468-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u469
{
	z-index: 19;
	width: 100%;
}

#u478
{
	z-index: 20;
	padding-bottom: 264px;
	margin-right: -10000px;
	width: 100%;
}

#u479
{
	z-index: 21;
	width: 130px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 15px;
}

#u481-6
{
	z-index: 23;
	width: 207px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 153px;
}

#u474
{
	z-index: 29;
	padding-bottom: 264px;
	margin-right: -10000px;
	width: 100%;
}

#u475
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 15px;
}

#u477-6
{
	z-index: 32;
	width: 207px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 153px;
}

#u470
{
	z-index: 38;
	padding-bottom: 264px;
	margin-right: -10000px;
	width: 100%;
}

#u471
{
	z-index: 39;
	width: 130px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 15px;
}

#u479_clip,#u475_clip,#u471_clip
{
	width: 130px;
	height: 89px;
}

#u479_img,#u475_img,#u471_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u473-6
{
	z-index: 41;
	width: 207px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 153px;
}

#page .verticalspacer
{
	clear: both;
}

